/* ------ Utility Classes ------ */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: var(--background-card-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: var(--primary-text);
}

.center {
    text-align: center;
}

/* --- Padding --- */
.py1 {
    padding: 10px 0;
}

.py2 {
    padding: 20px 0;
}

.py3 {
    padding: 50px 0;
}

.py4 {
    padding: 100px 0;
}

/* --- Margin --- */
.my1 {
    margin: 10px 0;
}

.my2 {
    margin: 20px 0;
}

.my3 {
    margin: 50px 0;
}

.my4 {
    margin: 100px 0;
}



